/*
    Note: this CSS must not leak into the DM webclient.
    Putting it outside "/web/style/" avoids auto-pickup.
*/

html {
    height: 100%;
}

body {
    font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
    line-height: 1.5em;
    display: flex;
    flex-flow: column;
    margin: 0;
    height: 100%;
}

a {
    color: rgb(151, 167, 0);
}

strong {
    color: rgb(235, 110, 8);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#header {
    display: flex;
    flex: none;
    background-color: black;
}

#header .start-link {
}

#header .search-input {
}

#header .space-span {
  flex-grow: 1;
}

#header .map-link {
}

#content {
    display: flex;
    flex: auto;
    min-height: 0;  /* Needed for childs of a column-oriented flex container. Otherwise #content exceeds viewport.   */
                    /* http://stackoverflow.com/questions/26895349/how-can-i-get-ff-33-x-flexbox-behavior-in-ff-34-x */
                    /* https://www.w3.org/TR/css-flexbox-1/#min-size-auto                                            */
}

#map {
    flex: 1 0 50%;
}

#details {
    flex: 1 0 50%;
    overflow: auto;
    padding: 1em;
    box-sizing: border-box;
    background-color: white;
}

/* Details */

#details .page-title {
    display: inline-block;
    margin-top: -1em;
    margin-bottom: 0.5em;
    padding: 2.5em 0.5em 0.5em 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

#details .heading {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

#details .date {
    color: rgb(235, 110, 8);
}

#details ul {
    margin-top: 0.5em;      /* browser default is 1em */
    padding-left: 0;        /* browser default is 40px */
    list-style-type: none;
}

#details ul ul {
    margin-top: 0;
}

#details pre {
    font-size: 16px;    /* relative or no font-size results in different sizes in Safari and Firefox */
    line-height: 1.3em;
    white-space: pre-wrap;
}

#details pre.code-block {
    background-color: #f8f8f8;
    border: 1px solid #d8d8d8;
    margin: 1em 2em 1em 2em;
    padding: 0.25em;
    white-space: pre;
    overflow: auto;
}

#details div.blockquote {
    border: 0 solid #d8d8d8;
    border-left-width: 5px;
    margin: 1em 3em 1em 2em;
    padding-left: 1em;
}

#details .marker {
    background-color: yellow;
}

#details code {
    font-size: 18px;
}

#details img {
    max-width: 100%;
    height: auto;
}

#details figure {
    margin-left: 0;
    margin-right: 0;
}

#details figure > figcaption {
    font-style: italic;
}

#details .embeddedContent > iframe {
    max-width: 100%;
}

/* Person Details */

#details .person .page-title {
    background-color: rgb(130, 131, 133);
    color: white;
}

#details .person .birth,
#details .person .nationality,
#details .person .institutions,
#details .person .works {
    margin-top: 1em;
}

/* Work Details */

#details .work .page-title {
    background-color: rgb(255, 201, 0);
    color: white;
}

#details .work .translation .title {
    font-weight: bold;
}

#details .work .persons,
#details .work .type,
#details .work .genre,
#details .work .isbn,
#details .work .translations,
#details .work .translation,
#details .work .url {
    margin-top: 1em;
}

/* Event Details */

#details .event .page-title {
    background-color: rgb(235, 110, 8);
    color: white;
}

#details > .event .date,
#details > .event > .address,
#details > .event .notes,
#details > .event .participants,
#details > .event .entrance-fee,
#details > .event .url,
#details > .event .event-series {
    margin-top: 1em;
}

/* Event Series Details */

#details .event-series .page-title {
    background-color: rgb(255, 237, 0);
    color: rgb(235, 110, 8);
}

#details .event-series .url {
    margin-top: 1em;
}

/* Institution Details */

#details .institution .page-title {
    background-color: rgb(187, 204, 0);
    color: white;
}

#details .institution .url,
#details .institution .address {
    margin-top: 1em;
}

/* Event List (used for Event Series and Institution) */

#details .event-list {
    margin-top: 1em;
}

#details .event-list .event {
    margin-top: 0.7em;
}

#details .event-list .event .date {
    font-size: 0.75em;
    margin-bottom: -0.4em;
}

/* Spinner */

#spinner {
    position: absolute;
    top: 34px;
    right: 10px;
    width: 40px;
    height: 40px;
    z-index: 1002;          /* Details panel is at 1001 */
    background-image: url(spinner.svg);
    animation: rotate 0.75s linear infinite;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}

/* Powered by */

#powered-by {
    position: absolute;
    right: 7px;
    bottom: 50px;
    transform: translateX(100%) rotate(-90deg);
    transform-origin: left;
    font-size: 10px;
    color: rgb(184, 184, 184);
    letter-spacing: 0.5px;
    line-height: initial;
}

#powered-by > a {
    color: rgb(160, 160, 230);
}
