/*
    Note: this CSS must not leak into the DM webclient.
    Putting it outside "/web/style/" avoids auto-pickup.
*/

html {
    height: 100%;
}

body {
    font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
    line-height: 1.5em;
    margin: 0;
    height: 100%;
}

a {
    color: rgb(151, 167, 0);
}

strong {
    color: rgb(235, 110, 8);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#map {
    height: 100%;
}

#details {
    height: 100%;
    overflow: auto;
    padding: 1em;
    box-sizing: border-box;
    background-color: white;
}

@media (orientation: landscape) {
    #map {
        width: 50%;
        float: left;
    }
}

@media (orientation: portrait) {
    #details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1001;      /* Leaflet controls have 1000 */
    }
}

/* Details */

#details .welcome img {
    width: 100%;
    margin-left: -1%;
    margin-bottom: 2em;
}

#details .page-title {
    display: inline-block;
    margin-top: -1em;
    margin-bottom: 0.5em;
    padding: 2.5em 0.5em 0.5em 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

#details .heading {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

#details .date {
    color: rgb(235, 110, 8);
}

#details ul {
    margin-top: 0.5em;      /* browser default is 1em */
    padding-left: 0;        /* browser default is 40px */
    list-style-type: none;
}

#details ul ul {
    margin-top: 0;
}

#details button {
    margin-top: 2em;
}

/* Person Details */

#details .person .page-title {
    background-color: rgb(130, 131, 133);
    color: white;
}

#details .person .birth,
#details .person .nationality,
#details .person .institutions,
#details .person .works,
#details .person .events {
    margin-top: 1em;
}

/* Work Details */

#details .work .page-title {
    background-color: rgb(255, 201, 0);
    color: white;
}

#details .work .translation .title {
    font-weight: bold;
}

#details .work .persons,
#details .work .type,
#details .work .genre,
#details .work .isbn,
#details .work .translations,
#details .work .translation,
#details .work .url {
    margin-top: 1em;
}

/* Event Details */

#details .event .page-title {
    background-color: rgb(235, 110, 8);
    color: white;
}

#details > .event .date,
#details > .event > .address,
#details > .event .notes,
#details > .event .participants,
#details > .event .entrance-fee,
#details > .event .url,
#details > .event .event-series {
    margin-top: 1em;
}

/* Event Series Details */

#details .event-series .page-title {
    background-color: rgb(255, 237, 0);
    color: rgb(235, 110, 8);
}

#details .event-series .url,
#details .event-series .events,
#details .event-series .event {
    margin-top: 1em;
}

#details .event-series .event .date {
    font-size: 0.75em;
    margin-bottom: -0.3em;
}

/* Institution Details */

#details .institution .page-title {
    background-color: rgb(187, 204, 0);
    color: white;
}

#details .institution .url,
#details .institution .address {
    margin-top: 1em;
}
