/* Keep in mind this CSS is loaded into the DM4 Webclient as well */

html[ng-app] {
    height: 100%;
}

html[ng-app] > body {
    font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
    line-height: 1.5em;
    margin: 0;
    height: 100%;
}

#map {
    height: 100%;
}

#details {
    height: 100%;
    overflow: auto;
    padding: 1em;
    box-sizing: border-box;
    background-color: beige;
}

@media (orientation: landscape) {
    #map {
        width: 50%;
        float: left;
    }
}

@media (orientation: portrait) {
    #details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1001;      /* Leaflet controls have 1000 */
    }
}

/* Details */

#details ul {
    margin-top: 0.5em;      /* browser default is 1em */
    padding-left: 0;        /* browser default is 40px */
    list-style-type: none;
}

#details ul ul {
    margin-top: 0;
}

#details button {
    margin-top: 2em;
}

/* Event Details */

#details .event .title {
    font-size: 1.5em;
    font-weight: bold;
}

#details .event .date,
#details .event .address,
#details .event .notes,
#details .event .url,
#details .event .participants,
#details .event .event-series {
    margin-top: 1em;
}

/* Event Series Details */

#details .event-series .title {
    font-size: 1.5em;
    font-weight: bold;
}

/* Person Details */

#details .person .name {
    font-size: 1.5em;
    font-weight: bold;
}

#details .person .birth,
#details .person .nationality {
    margin-top: 1em;
}

/* Institution Details */

#details .institution .name {
    font-size: 1.5em;
    font-weight: bold;
}

#details .institution .url,
#details .institution .address {
    margin-top: 1em;
}

/* Work Details */

#details .work .title {
    font-size: 1.5em;
    font-weight: bold;
}

#details .work .persons,
#details .work .genre,
#details .work .isbn,
#details .work .translations,
#details .work .translation,
#details .work .url {
    margin-top: 1em;
}
