/* Keep in mind this CSS is loaded into the DM4 Webclient as well */

html {
    height: 100%;
}

body {
    font-family: "Lucida Grande", "Trebuchet MS", Arial, sans-serif;
    line-height: 1.5em;
    margin: 0;
    height: 100%;
}

#map {
    height: 100%;
}

#details {
    height: 100%;
    overflow: auto;
    padding: 1em;
    box-sizing: border-box;
    background-color: beige;
}

@media (orientation: landscape) {
    #map {
        width: 50%;
        float: left;
    }
}

@media (orientation: portrait) {
    #details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1001;      /* Leaflet controls have 1000 */
    }
}

/* Event Details */

.event .title {
    font-size: 1.5em;
    font-weight: bold;
}

.event .date,
.event .address,
.event .notes,
.event .url,
.event .participants {
    margin-top: 1em;
}

.event ul {
    margin-top: 0;
    margin-bottom: 0;
}

.event button {
    margin-top: 2em;
}

/* Person Details */

.person .name {
    font-size: 1.5em;
    font-weight: bold;
}

.person button {
    margin-top: 2em;
}
