/* Keep in mind this CSS is loaded into the DM4 Webclient as well */

html[ng-app] {
    height: 100%;
}

html[ng-app] > body {
    font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
    line-height: 1.5em;
    margin: 0;
    height: 100%;
}

#map {
    height: 100%;
}

#details {
    height: 100%;
    overflow: auto;
    padding: 1em;
    box-sizing: border-box;
    background-color: beige;
}

@media (orientation: landscape) {
    #map {
        width: 50%;
        float: left;
    }
}

@media (orientation: portrait) {
    #details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1001;      /* Leaflet controls have 1000 */
    }
}

/* Event Details */

#details .event .title {
    font-size: 1.5em;
    font-weight: bold;
}

#details .event .date,
#details .event .address,
#details .event .notes,
#details .event .url,
#details .event .participants {
    margin-top: 1em;
}

#details .event ul {
    margin-top: 0;
    margin-bottom: 0;
}

#details .event button {
    margin-top: 2em;
}

/* Person Details */

#details .person .name {
    font-size: 1.5em;
    font-weight: bold;
}

#details .person button {
    margin-top: 2em;
}
