<div class="event" ng-show="event">
    <div class="title">{{event.childs["dm4.events.title"].value}}</div>
    <div class="date">
        <div class="from">From: {{event.childs["dm4.datetime#dm4.events.from"].value}}</div>
        <div class="to">To: {{event.childs["dm4.datetime#dm4.events.to"].value}}</div>
    </div>
    <div class="address">
        <div class="street">{{event.childs["dm4.contacts.address"].childs["dm4.contacts.street"].value}}</div>
        <div>
            <span class="postal-code">{{event.childs["dm4.contacts.address"].childs["dm4.contacts.postal_code"].value}}</span>
            <span class="city">{{event.childs["dm4.contacts.address"].childs["dm4.contacts.city"].value}}</span>
        </div>
        <div class="country">{{event.childs["dm4.contacts.address"].childs["dm4.contacts.country"].value}}</div>
    </div>
    <div class="notes">{{event.childs["dm4.events.notes"].value}}</div>
    <div class="url">{{event.childs["dm4.webbrowser.url"].value}}</div>
    <button ng-click="backToMap()" ng-if="portrait">Back to map</button>
</div>
