<div class="row person">
  <div class="col-lg-10">
  <form novalidate>
    <div class="form-group">
      <label for="inputFirstName">First Name</label>
      <input type="text" class="form-control" id="inputFirstName" placeholder="eg. John" ng-model="person['childs']['dm4.contacts.person_name']['childs']['dm4.contacts.first_name'].value"> </input
    </div>
    <div class="form-group">
      <label for="inputLastName">Last Name</label>
      <input type="text" class="form-control" id="inputLastName" placeholder="eg. Smith" ng-model="person['childs']['dm4.contacts.person_name']['childs']['dm4.contacts.last_name'].value"></input
    </div>
    <div class="form-group">
      <label for="inputYearOfBirth">Year Of Birth</label>
      <input type="number" class="form-control" id="inputYearOfBirth" placeholder="eg. 1980" string-to-int ng-model="person['childs']['dm4.datetime.date#dm4.contacts.date_of_birth'].value"> </input
    </div>
    <div class="form-group">
      <label for="inputPlaceOfBirth">Place Of Birth</label>
      <input type="text" class="form-control" id="inputPlaceOfBirth" placeholder="eg. Berlin" ng-model="person['childs']['dm4.contacts.city#crowd.person.place_of_birth'].value"> </input
    </div>
    <div class="form-group">
      <label for="inputEmail">Email Addresses</label>
      <div class="input-group" ng-repeat="e in person['childs']['dm4.contacts.email_address'] track by $index">
        <input type="email" class="form-control" id="inputEmail" ng-model="e.value" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">-</button>
        </span>
      </div>
      <div class="input-group">
        <input type="email" class="form-control" placeholder="user@domain" />
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="enlargeEmail(person)">+</button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="inputNotes">Notes</label>
      <textarea class="form-control" id="inputNotes" rows="5" placeholder="eg. This author is ..." ng-model="person['childs']['dm4.contacts.notes'].value"></textarea
    </div>
    <button ng-if="!isUpdatedBlocked" type="submit" class="btn btn-primary" ng-click="updatePerson(person)">Save</button>
  </form>
</div>
</div>
