<div class="row person">
  <div class="col-lg-10">
  <form novalidate>
    <div class="form-group">
      <label for="inputFirstName">First Name</label>
      <input type="text" class="form-control" id="inputFirstName" placeholder="eg. John" ng-model="person['childs']['dm4.contacts.person_name']['childs']['dm4.contacts.first_name'].value"> </input
    </div>
    <div class="form-group">
      <label for="inputLastName">Last Name</label>
      <input type="text" class="form-control" id="inputLastName" placeholder="eg. Smith" ng-model="person['childs']['dm4.contacts.person_name']['childs']['dm4.contacts.last_name'].value"></input
    </div>
    <div class="form-group">
      <label for="inputYearOfBirth">Year Of Birth</label>
      <input type="number" class="form-control" id="inputYearOfBirth" placeholder="eg. 1980" string-to-int ng-model="person['childs']['dm4.datetime.date#dm4.contacts.date_of_birth'].value"> </input
    </div>
    <div class="form-group">
      <label for="inputPlaceOfBirth">Place Of Birth</label>
      <input type="text" class="form-control" id="inputPlaceOfBirth" placeholder="eg. Berlin" ng-change="killId(person['childs']['dm4.contacts.city#crowd.person.place_of_birth'])" ng-model="person['childs']['dm4.contacts.city#crowd.person.place_of_birth'].value"> </input
    </div>
    <div class="form-group">
      <label for="inputEmail">Email Addresses</label>
      <div id="inputEmail" class="input-group" ng-repeat="e in person['childs']['dm4.contacts.email_address'] track by $index" ng-if="e.type_uri">
        <input ng-disabled="$index == 0" type="email" class="form-control" ng-model="e.value" />
        <span ng-if="$index > 0" class="input-group-btn">
          <button class="btn btn-default" type="button" ng-disabled="isUpdateBlocked" ng-click=removeEmail($index)>-</button>
        </span>
      </div>
      <div class="input-group">
        <input type="email" class="form-control" ng-model="newData.email" placeholder="user@domain" />
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-disabled="isUpdateBlocked" ng-click="addNewEmail(person)">+</button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <div ng-repeat="addr in person['childs']['dm4.contacts.address#dm4.contacts.address_entry'] track by $index" ng-if="addr.type_uri">
          <label for="inputAddress" >Address {{ $index+1 }}</label>
          <div class="col-lg-12">
            <input type="text" class="form-control" id="inputStreet{{$index}}" ng-model="addr['childs']['dm4.contacts.street'].value" />
        </div>
        <div>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputPostalCode{{$index}}" ng-model="addr['childs']['dm4.contacts.postal_code'].value" />
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" id="inputCity{{$index}}" ng-change="killId(addr['childs']['dm4.contacts.city'])" ng-model="addr['childs']['dm4.contacts.city'].value" />
          </div>
        </div>
        <div class="col-lg-12">
          <div class="input-group">
            <input type="text" class="form-control" id="inputCountry{{$index}}" ng-change="killId(addr['childs']['dm4.contacts.country'])" ng-model="addr['childs']['dm4.contacts.country'].value" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-disabled="isUpdateBlocked" ng-click="removeAddress($index)">-</button>
            </span>
          </div>
        </div>
      </div>
      <div>
        <label for="inputAddressNew" >New Address</label>
        <div class="col-lg-12">
            <input type="text" class="form-control" id="inputStreetNew" placeholder="street" ng-model="newData.address.street" />
        </div>
        <div>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputPostalCodeNew" placeholder="postal code" ng-model="newData.address.postalCode" />
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" id="inputCityNew" placeholder="city" ng-model="newData.address.city" />
          </div>
        </div>
        <div class="col-lg-12">
          <div class="input-group">
            <input type="text" class="form-control" id="inputCountryNew" placeholder="country" ng-model="newData.address.country" />
            <span class="input-group-btn">
              <button class="btn btn-primary" ng-click="addNewAddress(person)" ng-disabled="isUpdateBlocked" type="button">+</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputNotes">Notes</label>
      <textarea class="form-control" id="inputNotes" rows="5" placeholder="eg. This author is ..." ng-model="person['childs']['dm4.contacts.notes'].value"></textarea
    </div>
    <button ng-disabled="isUpdateBlocked" type="submit" class="btn btn-primary" ng-click="updatePerson()">Save</button>
  </form>
</div>
</div>
