<div class="event-series">
    <div class="title">{{eventSeries.title}}</div>
    <div class="notes" ng-bind-html="eventSeries.notes | trusted"></div>
    <div class="url">
        <a ng-href="{{eventSeries.url}}">{{eventSeries.url}}</a>
    </div>
    <div class="events" ng-show="eventSeries.events">
        Events:
        <ul>
            <li class="event" ng-repeat="event in eventSeries.events">
                <div class="from">{{event.from}}</div>
                <a ng-href="#/event/{{event.id}}">{{event.title}}</a>
            </li>
        </ul>
    </div>
    <button ng-click="backToMap()" ng-if="portrait">Back to map</button>
</div>
