<div class="event">
    <div class="title">{{event.value}}</div>
    <div class="date">
        <div class="from">From: {{event.childs["dm4.datetime#dm4.events.from"].value}}</div>
        <div class="to">To: {{event.childs["dm4.datetime#dm4.events.to"].value}}</div>
    </div>
    <div dm4-address="event.childs['dm4.contacts.address']"></div>
    <div class="notes" ng-bind-html="event.childs['dm4.events.notes'].value"></div>
    <div class="participants">
        Participants:
        <ul>
            <li ng-repeat="person in participants | orderBy:'value'">
                <a ng-href="#/person/{{person.id}}">{{person.value}}</a>
            </li>
        </ul>
    </div>
    <div class="url">
        <a ng-href="{{event.childs['dm4.webbrowser.url'].value}}">{{event.childs["dm4.webbrowser.url"].value}}</a>
    </div>
    <button ng-click="backToMap()" ng-if="portrait">Back to map</button>
</div>
