<div class="event">
    <div class="page-title">{{event.title}}</div>
    <div class="date" ng-bind-html="event.from | datetime:event.to:true | trusted" ng-if="event.from"></div>
    <div class="address">
        <a ng-href="#/institution/{{event.address.institution.id}}">{{event.address.institution.name}}</a>
        <div dm4-address="event.address"></div>
    </div>
    <div class="notes" ng-bind-html="event.notes | trusted"></div>
    <div class="participants" ng-if="event.participants">
        <div class="heading">Participants</div>
        <ul>
            <li ng-repeat="person in event.participants | orderBy:'value'">
                <a ng-href="#/person/{{person.id}}">{{person.name}}</a>
            </li>
        </ul>
    </div>
    <div class="entrance-fee" ng-if="event.entranceFee">
        Entrance fee: {{event.entranceFee}}
    </div>
    <div class="url" ng-if="event.url">
        <a ng-href="{{event.url | weblink}}">{{event.url}}</a>
    </div>
    <div class="event-series" ng-if="event.eventSeries">
        This event is part of series
        <span ng-repeat-start="series in event.eventSeries" ng-if="!$first"> and</span>
        <a ng-repeat-end ng-href="#/event_series/{{series.id}}">{{series.title}}</a>.
    </div>
</div>
