<div class="institution">
    <div class="name">{{institution.name}}</div>
    <div class="url" ng-show="institution.urls">
        <ul>
            <li ng-repeat="url in institution.urls">
                <a ng-href="{{url | weblink}}">{{url}}</a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li ng-repeat="address in institution.addresses">
                <div dm4-address="address"></div>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li ng-repeat="phone in institution.phoneNumbers">
                <div class="phone">
                    <span><i>{{phone.label}}:</i></span> <span>{{phone.number}}</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="email">
        <ul>
            <li ng-repeat="email in institution.emails">
                {{email}}
            </li>
        </ul>
    </div>
    <div class="notes" ng-bind-html="institution.notes | trusted"></div>
    <!--div class="persons" ng-show="institution.persons">
        Associates:
        <ul>
            <li ng-repeat="person in institution.persons">
                <a ng-href="#/person/{{person.id}}">{{person.name}}</a> ({{person.role}})
            </li>
        </ul>
    </div-->
    <button ng-click="backToMap()" ng-if="portrait">Back to map</button>
</div>
