<div class="person">
    <div class="page-title">{{person.name}}</div>
    <div class="birth" ng-if="person.yearOfBirth || person.placeOfBirth">
        Born {{person.yearOfBirth}}
        <span ng-if="person.placeOfBirth">in {{person.placeOfBirth}}</span>
    </div>
    <div class="nationality">
        <div ng-if="person.nationalities">
            Nationality:
            <span ng-repeat-start="nationality in person.nationalities" ng-if="!$first">,</span>
            <span ng-repeat-end>{{nationality}}</span>
        </div>
        <div ng-if="person.languages">
            Languages:
            <span ng-repeat-start="language in person.languages" ng-if="!$first">,</span>
            <span ng-repeat-end>{{language}}</span>
        </div>
    </div>
    <div class="notes" ng-bind-html="person.notes | trusted"></div>
    <div class="url" ng-if="person.urls">
        <ul>
            <li ng-repeat="url in person.urls">
                <a ng-href="{{url | weblink}}">{{url}}</a>
            </li>
        </ul>
    </div>
    <!--div class="institutions" ng-if="person.institutions">
        Associations:
        <ul>
            <li ng-repeat="institution in person.institutions">
                <a ng-href="#/institution/{{institution.id}}">{{institution.name}}</a> ({{institution.role}})
            </li>
        </ul>
    </div-->
    <div class="works" ng-if="person.works">
        <div class="heading">Works</div>
        <ul>
            <li ng-repeat="work in person.works">
                <a ng-href="#/work/{{work.id}}">{{work.title}}</a> ({{work.role}})
            </li>
        </ul>
    </div>
    <dm4-event-list events="person.events"></dm4-event-list>
</div>
