<div class="welcome">
    <img src="crowd-splash.png">
    <p>
    ... Ur ad quam que velique iur ati blam nem sim veribus sundia quassit, iducim aspel is niasperatent lacepuda voluptatur, quidisi maximi, sit, aspitasi intis dolum dolo modis molorunda voluptas quunt explit quae volorpos con pori remquo quiae et audantem re core et
    </p>
    <p>
    ... Ur ad quam que velique iur ati blam nem sim veribus sundia quassit, iducim aspel is niasperatent <strong>lacepUda volUptatUr</strong>, quidisi maximi, sit, aspitasi intis dolum dolo modis molorunda voluptas quunt explit quae volorpos con pori remquo quiae et audantem re core et
    </p>
    <dm4-map-button>Show all events</dm4-map-button>
</div>
