<div class="work">
    <div class="title">{{work.title}}</div>
    <div class="persons">
        <ul>
            <li ng-repeat="person in work.persons">
                <a ng-href="#/person/{{person.id}}">{{person.name}}</a> ({{person.role}})
            </li>
        </ul>
    </div>
    <div>{{work.type}}, {{work.language}}</div>
    <div>
        {{work.yearOfPublication}},
        {{work.placeOfPublication}}
    </div>
    <div class="genre" ng-show="work.genres.length">
        Genre:
        <span ng-repeat-start="genre in work.genres" ng-show="!$first">,</span>
        <span ng-repeat-end>{{genre}}</span>
    </div>
    <div class="notes" ng-bind-html="work.notes | trusted"></div>
    <div class="isbn" ng-show="work.isbn">ISBN/ISSN: {{work.isbn}}</div>
    <div class="url"><a ng-href="{{work.url}}">{{work.url}}</a></div>
    <div class="translations">
        Translations:
        <ul>
            <li ng-repeat="translation in work.translations">
                <div class="translation">
                    <div>{{translation.title}}</div>
                    <ul>
                        <li ng-repeat="person in translation.translators">
                            <a ng-href="#/person/{{person.id}}">{{person.name}}</a> ({{person.role}})
                        </li>
                    </ul>
                    <div>{{translation.language}}</div>
                    <div ng-show="translation.isbn">ISBN/ISSN: {{translation.isbn}}</div>
                </div>
            </li>
        </ul>
    </div>
    <button ng-click="backToMap()" ng-if="portrait">Back to map</button>
</div>
