<div class="work">
    <div class="title">{{work.value}}</div>
    <div class="persons">
        <ul>
            <li ng-repeat="person in persons">
                <a ng-href="#/person/{{person.id}}">{{person.value}}</a> ({{person.assoc.value}})
            </li>
        </ul>
    </div>
    <div>{{work.childs["crowd.work.type"].value}}, {{work.childs["crowd.work.language"].value}}</div>
    <div>{{work.childs["crowd.work.genre"].value}}</div>
    <div class="notes" ng-bind-html="work.childs['crowd.work.notes'].value | trusted"></div>
    <div ng-show="work.childs['crowd.work.isbn'].value">ISBN: {{work.childs["crowd.work.isbn"].value}}</div>
    <div class="url">
        <a ng-href="{{work.childs['dm4.webbrowser.url'].value}}">{{work.childs["dm4.webbrowser.url"].value}}</a>
    </div>
    <div class="translations">
        Translations:
        <ul>
            <li ng-repeat="translation in work.childs['crowd.work.translation']">
                <div class="translation">
                    <div>{{translation.childs["crowd.work.title"].value}}</div>
                    <ul>
                        <li ng-repeat="person in translators[translation.id]">
                            <a ng-href="#/person/{{person.id}}">{{person.value}}</a> ({{person.assoc.value}})
                        </li>
                    </ul>
                    <div>{{translation.childs["crowd.work.language"].value}}</div>
                    <div ng-show="translation.childs['crowd.work.isbn'].value">
                        ISBN: {{translation.childs["crowd.work.isbn"].value}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <button ng-click="backToMap()" ng-if="portrait">Back to map</button>
</div>
